# Built outputs
/build
app/build
**/build/

# Gradle
.gradle
gradle-wrapper.jar

# Local config (berisi path SDK, jangan di-push)
local.properties

# Android Studio / IntelliJ
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/.gitignore

# macOS
.DS_Store

# Captures
/captures
.externalNativeBuild
.cxx

# Keystore (jangan pernah push file ini!)
*.jks
*.keystore
.claude/
